* {
    background-color: rgb(249, 234, 253);
    font-family: "Roboto Thin";

}

@font-face {
    font-family: "Roboto Thin"; /* Гарнитура шрифта */
    src: url(../fonts/Roboto-Thin.ttf); /* Путь к файлу со шрифтом */
}

.container {
    display: flex;
    margin-top: 13%;
}

.block {
    margin-left: 7%;
}

.brd .brd1 {
    margin-bottom: 2%;
}


.brd a {
    font-weight: bolder;
}

.brd1 a {
    font-weight: bolder;
}

.title {
    text-decoration: underline;
}